<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new-message" method="post">
      <label>
        Message
        <input type="text" name="message" />
      </label>
      <button>Post</button>
    </form>
  </body>
</html>
